[Unit]
Description=IoT Canli Veri Gonderici Servisi
After=network.target

[Service]
# Python tamponlamasını kapatarak çıktıları anında loglara yazdırır
Environment=PYTHONUNBUFFERED=1

ExecStart=/usr/bin/python3 /home/zero/live_sender.py
WorkingDirectory=/home/zero
Restart=always
RestartSec=5
User=zero

# Çıktıların yazılacağı hedef log dosyaları
StandardOutput=append:/home/zero/live_sender.log
StandardError=append:/home/zero/live_sender_error.log

[Install]
WantedBy=multi-user.target
